@import "../../../utilities/variables"
  
.trainerInfoCard__trainerName
  span:first-child()
    font-size: $title-small !important
    @media (min-width: $medium)
      font-size: $title-medium !important
  span:nth-child(2)
    font-size: $text-small !important

.trainerInfoCard__credentialItem
  font-size: $text-small !important
  @media (min-width: $medium)
    font-size: $text-medium !important

.trainerInfoCard__certificationsHeader,
.trainerInfoCard__biographyHeader
  font-size: $title-small
  @media (min-width: $medium)
    font-size: $title-medium

.trainerInfoCard__biographyParagraph
  font-size: $text-small
  @media (min-width: $medium)
    font-size: $text-medium

.trainerInfoCard__biographyParagraph--0
    margin-bottom: 0px

.trainerInfoCard__biographySeeMore
  font-size: 12px
  color: $fitMe-linkColor
  @media (min-width: $medium)
    font-size: 18px