.classCard__classTitle span {
  font-size: 24px !important; }
  @media (min-width: 640px) {
    .classCard__classTitle span {
      font-size: 36px !important; } }

.classCard__classTime,
.classCard__classLocation,
.classCard__classAddress {
  font-size: 16px !important; }
  @media (min-width: 640px) {
    .classCard__classTime,
    .classCard__classLocation,
    .classCard__classAddress {
      font-size: 24px !important; } }

.classCard__classTime {
  padding-bottom: 5px !important; }

.classCard__classLocation {
  padding-bottom: 0px !important; }

.classCard__classAddress {
  padding-top: 0px !important; }
