.loginScreen__container {
  margin: 0px auto;
  text-align: center;
  padding: 15px 10px; }

.loginScreen__header {
  color: #404040; }

.textbox__input {
  color: #404040; }

.loginScreen__loginForm {
  position: relative;
  width: 80%;
  margin: 0px auto;
  margin-top: 10px; }

.loginScreen__header {
  font-size: 2em; }
  @media (min-width: 640px) {
    .loginScreen__header {
      font-size: 3em; } }
  @media (min-width: 1024px) {
    .loginScreen__header {
      font-size: 4.5em; } }

.textbox__label {
  position: absolute;
  display: block;
  left: 5px;
  top: 10px; }

.textbox__input {
  width: 100%;
  border: none;
  padding: 10px 10px 10px 5px; }
  @media (min-width: 640px) {
    .textbox__input {
      font-size: 1.5em; } }
  @media (min-width: 1024px) {
    .textbox__input {
      font-size: 2em; } }
