@import "../../utilities/variables"
  
.loginScreen__container
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 550px
  margin: 0px auto
  text-align: center
  padding: 15px 10px
  @media (min-width: $medium)
    min-height: 900px

.loginScreen__header
  color: $fitMe-font

.textbox__input
  color: $fitMe-font

.loginScreen__loginForm
  position: relative
  width: 80%
  margin: 0px auto
  margin-top: 10px

.loginScreen__header
  font-size: 2em
  @media (min-width: $medium)
    font-size: 3em
  @media (min-width: $large)
    font-size: 4.5em
  
.textbox__label
  position: absolute
  display: block
  left: 5px
  top: 10px

.textbox__input
  width: 100%
  border: none
  padding: 10px 10px 10px 5px
  @media (min-width: $medium)
    font-size: 1.5em
  @media (min-width: $large)
    font-size: 2em
