.searchBar__container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: 0 auto; }
  .searchBar__container .textbox__container {
    width: 100%; }

.searchBar__mapIcon {
  position: absolute;
  right: 10%;
  bottom: 10px; }
  @media (min-width: 640px) {
    .searchBar__mapIcon {
      right: 11%; } }
