.trainerImageCard__trainerName span:first-child() {
  font-size: 24px !important; }
  @media (min-width: 640px) {
    .trainerImageCard__trainerName span:first-child() {
      font-size: 36px !important; } }

.trainerImageCard__trainerName span:nth-child(2) {
  font-size: 16px !important; }
  @media (min-width: 640px) {
    .trainerImageCard__trainerName span:nth-child(2) {
      font-size: 24px !important; } }
