.banner__container {
  position: absolute;
  top: 0px;
  width: 100%; }

.searchScreen__searchContainer {
  width: 100%; }
  .searchScreen__searchContainer .button__container {
    text-align: center; }

.searchScreen__searchOptions {
  font-size: 14px;
  margin-left: 10px; }

.searchScreen__searchResultsContainer {
  margin-top: 20px; }
