.searchScreen__searchContainer {
  width: 100%;
  margin-bottom: 20px; }
  .searchScreen__searchContainer .searchBar__container,
  .searchScreen__searchContainer .searchOptions__container {
    text-align: center;
    margin: 0 auto; }
  .searchScreen__searchContainer .searchBar__container {
    width: 80%; }
  .searchScreen__searchContainer .searchOptions__container {
    width: 60%; }

.searchOptions__optionsContainer {
  margin-top: 10px; }

.searchScreen__searchOptions {
  font-size: 14px;
  margin-left: 10px; }
