@import "../../utilities/variables"

.searchScreen__searchContainer
  position: absolute
  top: 10%
  width: 100%
  .searchBar__container,
  .searchOptions__container
    text-align: center
    margin: 0 auto
  .searchBar__container
    width: 80%
  .searchOptions__container
    width: 60%

.searchScreen__searchOptions
  font-size: 14px
  margin-left: 10px

.searchScreen__searchResultsContainer
  position: absolute
  top: 25%
  margin-top: 20px