@import "../../utilities/variables"

.searchScreen__searchContainer
  position: absolute
  top: 10%
  width: 100%
  .textbox__container,
  .button__container
    text-align: center

.searchScreen__searchOptions
  font-size: 14px
  margin-left: 10px

.searchScreen__searchResultsContainer
  position: absolute
  top: 25%
  margin-top: 20px