.trainerResult__trainerName {
  font-size: 16px !important; }
  @media (min-width: 640px) {
    .trainerResult__trainerName {
      font-size: 30px !important; } }

.trainerResult__matchingClasses {
  font-size: 12px !important; }
  @media (min-width: 640px) {
    .trainerResult__matchingClasses {
      font-size: 24px !important; } }
