.mapSearch__container {
  margin: 0px auto;
  width: 100%; }
  @media (min-width: 640px) {
    .mapSearch__container {
      width: 90%; } }
  @media (min-width: 1024px) {
    .mapSearch__container {
      width: 75%; } }
  .mapSearch__container img {
    width: 100%;
    margin: 0px auto;
    display: block; }
    @media (min-width: 640px) {
      .mapSearch__container img {
        width: 80%; } }
