.searchOptions__trainingLengthContainer,
.searchOptions__trainingTypeContainer,
.searchOptions__sessionTypeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 70%;
  margin: 0 auto; }
  @media (min-width: 640px) {
    .searchOptions__trainingLengthContainer,
    .searchOptions__trainingTypeContainer,
    .searchOptions__sessionTypeContainer {
      flex-direction: row; } }
