@media (min-width: 1024px) {
  .trainerProfile__container {
    width: 70%;
    margin: 0px auto; } }

@media (min-width: 1024px) {
  .trainerProfile__infoContainer,
  .trainerProfile__classesContainer {
    width: 60%;
    margin: 0px auto; } }
